.game {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	background-color: #171717;

	&__start-button {
		margin: 1rem;
		height: 70px;
		width: 300px;
		border: none;
		font-size: 2em;
		font-weight: bold;
		color: rgb(255, 251, 30);
		background-color: rgb(58, 1, 116);
		border: 4px solid rgb(71, 0, 143);
		align-self: center;
		border-radius: 10px;
		outline: none;
		transition: .4s;
		cursor: pointer;
		&:hover {
			background-color: rgb(25, 0, 49);
			border: 4px solid rgb(72, 0, 145);
			color: rgb(93, 95, 64);
		}
	}
}

.board {
	align-self: center;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	width: 500px;
	height: 500px;
	border: 8px solid rgb(71, 0, 143);
	border-radius: 10px;
	background: linear-gradient(60deg, rgb(155, 55, 255), rgb(58, 1, 116), rgb(19, 0, 37));
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	transition: .1s linear;
	color: rgb(71, 0, 143);
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.24);
		box-shadow: inset 0 0 1.5px 1.5px rgb(20, 0, 15);
	}
}

.startSquare {
	background-color: rgb(224, 0, 205);
	box-shadow: inset 0 0 1.5px 1.5px rgb(99, 0, 74);
	&:hover {
		background-color: rgb(105, 0, 97);
		box-shadow: inset 0 0 1.5px 1.5px rgb(20, 0, 15);
	}
}
.drawRoad {
	background-color: rgb(185, 236, 0);
	box-shadow: inset 0 0 1.5px 1.5px rgb(112, 110, 0);
	&:hover {
		background-color: rgb(137, 175, 0);
		box-shadow: inset 0 0 1.5px 1.5px rgb(54, 53, 0);
	}
}
.hitSquare {
	background-color: rgb(0, 218, 0);
	box-shadow: inset 0 0 1.5px 1.5px rgb(0, 105, 0);
	&:hover {
		background-color: rgb(0, 78, 0);
		box-shadow: inset 0 0 1.5px 1.5px rgb(0, 29, 0);
	}
}

.missSquare {
	position: relative;
	background-color: rgba(255, 0, 0, 0.384);
	&:hover {
		background-color: rgba(175, 0, 0, 0.384);
		box-shadow: inset 0 0 1.5px 1.5px rgb(29, 0, 0);
	}

	
	&::before {
		content: "\2716";
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		color: red;
		font-size: 2em;
		padding-bottom: 5%;
		transition: .1s ;
	}

	&:hover::before {
		color: rgb(129, 0, 0);
	}
	// background-color: rgb(255, 0, 0);
	// box-shadow: inset 0 0 1.5px 1.5px rgb(82, 0, 0);
	// &:hover {
	// 	background-color: rgb(151, 0, 0);
	// 	box-shadow: inset 0 0 1.5px 1.5px rgb(29, 0, 0);
	// }
}

